<!DOCTYPE html>
<html>
<head>
    <title>Запросы в БД</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Статистика таблицы</h1>

    <!--блок со статистикой, который отображается только если переменная stats_data не пуста-->
    {% if stats_data %}
    <!--начало статистической таблицы-->
        <table>
            <thead>
               <tr>
                   <th>Столбец</th>
                   <th>Сумма</th>
                   <th>Количество</th>
                   <th>Среднее значение</th>
                   <th>Минимальное значение</th>
                   <th>Максимальное значение</th>
                   <th>Медиана</th>
                   <th>Отклонение</th>
               </tr>
           </thead>
           <!--содержимое таблицы-->
           <tbody>
            <!--цикл для перебора словаря со статистикой-->
           {% for column, values in stats_data.items() %}
               <tr>
                    <td>{{ column }}</td> <!--отображение имени столбца-->
                    <!--далее отобрадение данных полученых для статистики-->
                    <td>{{ values['Сумма'] }}</td>
                    <td>{{ values['Количество'] }}</td>
                    <td>{{ values['Среднее'] }}</td>
                    <td>{{ values['Минимальное'] }}</td>
                    <td>{{ values['Максимальное'] }}</td>
                    <td>{{ values['Медиана'] }}</td>
                    <td>{{ values['Отклонение'] }}</td>
                </tr>
           {% endfor %} <!--конец цикла-->
            </tbody>
         </table>
         <!--конец статистической таблицы-->
    <!--если даных для статистики нет выводим сообщение-->
    {% else %}
      <p>Нет данных для статистики</p>
    {% endif %}

    <!--заголовок и начала блока с выбором таблицы-->
    <h1>Выберите таблицу</h1>
    <!--форма для отправки запроса-->
    <form method="post">
        <!-- выбадающий список -->
        <select name="table_select">
            <!-- цикл для перебора названий таблиц -->
            {% for table in tables %}
                <!-- опция если текущая таблица совпадает с выбранной, то она будет выбрана по умолчанию -->
                <option value="{{table}}" {% if table == selected_table %}selected{% endif %}>{{table}}</option>
                <!-- конец цикла -->
                {% endfor %}
        </select>
        <!-- поле ввода параметров фильтрации -->
        <input type="text" name="filter_value" placeholder="Параметры для поиска..." value="{{filter_value or ''}}">
        <!-- кнопка поиска (отправки формы) -->
        <button type="submit">Показать</button>
    </form>

    <!-- прописывем возможные ошибки -->
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
    <!-- отсутсвие результата поиска -->
    {% if no_results_message %}
        <p>{{ no_results_message }}</p>
    {% endif %}
    
    <!-- если нужные все данные из выбранной таблицы -->
    {% if selected_table and table_data %}
        <h2>Таблица: {{ selected_table }}</h2>
        <!-- начало таблцы данных -->
        <table>
            <thead>
                <tr>
                   <!-- проверяем есть ли данные в таблице -->
                   {% if table_data %}
                        <!--цикл перебилающий столбцы в первой строке таблицы данных для выведения названия  -->
                       {% for column in table_data[0].keys() %}
                            <!-- выводим названия -->
                           <th>{{ column }}</th>
                       {% endfor %}
                   {% endif %}
                </tr>
            </thead>
            <tbody>
                <!-- цикл перебирающий строки данных в таблице данных -->
                 {% for row in table_data %}
                    <tr>
                        <!-- проверка данных -->
                        {% if row %}
                            <!-- цикл перебора значений в строке -->
                           {% for value in row.values() %}
                                <!-- вывод значений -->
                                <td>{{ value }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        <!-- конец таблицы данных -->
        </table>
        <!-- если в таблице нет данных выводим сообщение -->
        {% elif selected_table %}
            <p>Нет данных в выбранной таблице</p>
        {% endif %}
</body>
</html>
